:root {
	--ff-primary: "Roboto", sans-serif;

	--fs-200: calc(var(--fs-400) * 0.75);
	--fs-300: calc(var(--fs-400) * 0.875);
	--fs-400: 1rem;
	--fs-500: calc(var(--fs-400) * 2.5);
	--fs-700: calc(var(--fs-400) * 3.5);

	--fs-form: var(--fs-400);

	--fw-regular: 400;
	--fw-bold: 700;

	--lh-reg: 1.5;
}

.title-lg {
	font-size: var(--fs-700);
	font-weight: var(--fw-bold);
	line-height: 1;
}
